html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

#alex {
background-color:#355C7D;
width:100%;
}

#benjamin {
background-color:#5A5050;
width:100%;
}

#nicolas {
background-image:url(http://images5.alphacoders.com/432/432766.jpg);
aabackground-color:#9b59b6;
width:100%;
}

#bord {
border:10px double rgb(146,64,106);
position:absolute;
top:1070px;
width:1420px;
}

#bord2 {
border:10px double rgb(85,101,175);
}

#info0 {
color:white;
font-size:25px;
left:70px;
position:absolute;
top:620px;
}

#info2 {
color:white;
font-size:40px;
left:550px;
position:absolute;
top:450px;
}

#info3 {
color:white;
font-size:25px;
left:70px;
position:absolute;
top:820px;
}

#info4 {
color:white;
font-size:25px;
left:1100px;
position:absolute;
top:620px;
}

#info5 {
color:white;
font-size:25px;
left:1100px;
position:absolute;
top:820px;
}

#nico {
background-image:url(http://images5.alphacoders.com/432/432766.jpg);
font-family:Calibri, sans-serif;
}

#photocv {
  box-shadow:8px 8px 12px #aaa;
  width:200px;
  margin-right:20px;
  margin-top: 20px;
  float:right;
}

#photonico {
box-shadow:8px 8px 12px #aaa;
height:200px;
left:1200px;
position:absolute;
top:220px;
width:auto;
}

#tcv {
color:white;
font-size:40px;
}

#impression{
  float:left;
  margin-left: 50px;
}

.categorie {
color:white;
font-family:"Arial Black", Gadget, sans-serif;
font-size:25px;
}

.contact {
background-color:rgba(0,0,0,0.5);
border-radius:8px;
color:whitesmoke;
float:left;
font-family:Calibri, sans-serif;
font-size:24px;
line-height:normal;
margin-left:12%;
margin-top:10%;
padding:5px;
position:relative;
text-decoration:none;
top:35%;
}

.footertext {
color:white;
font-family:Calibri, sans-serif;
font-size:15px;
text-decoration:none;
}

.info1 {
color:white;
font-size:25px;
height:200px;
left:80px;
position:absolute;
top:220px;
width:auto;
}

.menu {
background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%, rgba(0,0 , 0, 0) 100%);
box-shadow:0 0 25px rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.6);
font-size:32px;
left:0;
text-align:center;
top:0;
width:100%;
}

.menu a {
display:inline-block;
padding:30px;
}

.textAccueil {
-moz-border-radius:8px;
-webkit-border-radius:8px;
background-color:rgba(0,0,0,0.5);
border-radius:8px;
color:whitesmoke;
font-family:Calibri, sans-serif;
font-size:35px;
left:35%;
line-height:normal;
padding:10px;
padding-left:40px;
padding-right:40px;
position:absolute;
text-align:center;
text-decoration:none;
top:80%;
transform:translateX(-28%) translateY(-50%);
}

div.cv {
margin-left:20px;
}

footer {
bottom:0;
height:75px;
left:0;
margin-left:10px;
position:fixed;
right:0;
}

h1 {
color:white;
font-family:Calibri, sans-serif;
font-size:50px;
}

li a {
color:white;
font-family:Calibri, sans-serif;
text-decoration:none;
}

li:hover {
background-color:rgba(255,255,255,0.1);
}

li:hover ul {
display:block;
}

p {
color:white;
font-family:Calibri, sans-serif;
font-size:22px;
margin-left:40px;
}

section {
height:1200px;
}

ul li {
display:inline-block;
}

ul li ul {
display:none;
position:absolute;
width:260px;
}

ul li ul li {
background-color:rgba(0,0,0,0.4);
display:block;
}