html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-image :url("http://image.noelshack.com/fichiers/2016/04/1454167071-robotbg.jpg");
	background-size : 100% 100%;
	background-repeat: no-repeat;
}

section{
 width: 1000px;
 height: 1000px;
}

div{
	width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

span {
	background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: normal;  
	font-family: Calibri, sans-serif;
	font-size: 35px;
	color: whitesmoke;
	text-decoration:none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

li:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

ul li {display: inline-block;}

.menu {
	top:0px;
	left:0px;
	font-size:32px;
	text-align :center;
	width:100%;
	background-color: #008B8B;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%, rgba(0,0 , 0, 0) 100%);
	width: 100%;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.menu a{
	padding: 30px;
	display:inline-block;
}

li a{
	font-family: Calibri, sans-serif;
	color: white;
	text-decoration:none;
}

li:hover ul {
	display: block;
}

ul li ul {
	position: absolute;
  width: 260px;
  display: none;
}

ul li ul li{
	background-color: rgba(0,0,0,0.1);
	display: block;
}