

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	background-image :url("http://image.noelshack.com/fichiers/2016/04/1454167071-robotbg.jpg");
	background-size : 2000px;
	background-repeat: no-repeat;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li{
list-style: none;
display:inline;	
font-size: 35px;
margin: 40px;
}

section{
 width: 1000px;
 height: 1000px;
}

div{
 width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

span {
background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: normal;  
 font-family: Calibri, sans-serif;
font-size: 35px;
color: whitesmoke;
text-decoration:none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.menu ul{ 
background-color: #008B8B
text-align: center;
background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 100%);
width: 100%;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

li:hover{
border-bottom: 3px solid white;
padding-bottom: 2px;
}

.menu {
line-height : 100px;
max-height : 5000px;
min-height : 10px;
max-width : 2000px;
min-width : 1000px;
}

li a{
font-family: Calibri, sans-serif;
color: white;
text-decoration:none;
}

.titreDroite{
border: 2px white solid;
border-radius: 10px;
padding: 3px;
float: right;
margin-right:15%;
line-height:200%;
}


